services:
  seaweedfs:
    restart: unless-stopped
    image: chrislusf/seaweedfs:latest
    ports:
      - "8333:8333"
      - "8888:8888"
      - "9333:9333"
    command: "server -s3 -s3.port=8333 -s3.config=/etc/seaweedfs/s3.json -master.port=9333 -volume.port=8080 -filer.port=8888"
    configs:
      - source: seaweedfs-s3
        target: /etc/seaweedfs/s3.json
    volumes:
      - seaweedfs_data:/data
    healthcheck:
      test: ["CMD", "curl", "-f", "http://127.0.0.1:9333/cluster/status"]
      interval: 5s
      timeout: 3s
      retries: 5

configs:
  seaweedfs-s3:
    content: |
      {
        "identities": [
          {
            "name": "admin",
            "credentials": [
              {
                "accessKey": "admin",
                "secretKey": "adminadmin"
              }
            ],
            "actions": ["Admin", "Read", "Write", "List", "Tagging"]
          }
        ]
      }

volumes:
  seaweedfs_data:
